<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current consumptions ({{consumptions.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Category</th>
          <th scope="col">Value</th>
          <th scope="col">Source</th>
          <th scope="col">Remark</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="consumptions.length === 0">
        <tr>
          <td colspan="8">There are no consumption in the DB. Add a new consumption below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let consumption of consumptions">
          <td>{{consumption.name}}</td>
          <td>{{consumption.type}}</td>
          <td>{{consumption.category}}</td>
          <td>{{consumption.value}}</td>
          <td>{{consumption.source}}</td>
          <td>{{consumption.remark}}</td>
          <td>{{consumption.date}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(consumption)">
              <i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteConsumption(consumption)">
              <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="8">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editConsumption(consumption)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="consumption.name" placeholder="Name" required>
              <input class="form-control mr-2" type="text" name="type" [(ngModel)]="consumption.type" placeholder="Type" required>
              <input class="form-control mr-2" type="text" name="category" [(ngModel)]="consumption.category" placeholder="Category" required>
              <input class="form-control mr-2" type="number" name="value" [(ngModel)]="consumption.value" placeholder="Value" min="0" required>
              <input class="form-control mr-2" type="text" name="source" [(ngModel)]="consumption.source" placeholder="Source" required>
              <input class="form-control mr-2" type="text" name="remark" [(ngModel)]="consumption.remark" placeholder="Remark">
              <input class="form-control mr-2" name="date" [(ngModel)]="consumption.date" placeholder="Date" ngui-datetime-picker />
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<chart [options]="options"></chart>
<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new consumption</h4>
  <div class="card-body">
    <form [formGroup]="addConsumptionForm" (ngSubmit)="addConsumption()">
      <div>
        <label>Name</label>
        <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div>
        <label>Type</label>
        <input class="form-control mr-2" type="text" name="type" formControlName="type" placeholder="Type">
      </div>
      <div>
        <label>Category</label>
        <input class="form-control mr-2" type="text" name="category" formControlName="category" placeholder="Category">
      </div>
      <div>
        <label>Value</label>
        <input class="form-control mr-2" type="number" name="value" formControlName="value" placeholder="Value" min="0">
      </div>
      <div>
        <label>Source</label>
        <input class="form-control mr-2" type="text" name="source" formControlName="source" placeholder="Source">
      </div>
      <div>
        <label>Remark</label>
        <input class="form-control mr-2" type="text" name="remark" formControlName="remark" placeholder="Remark">
      </div>
      <div>
        <label>Date</label>
        <input class="form-control mr-2" name="date" formControlName="date" placeholder="Date" ngui-datetime-picker />
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!addConsumptionForm.valid">
          <i class="fa fa-floppy-o"></i> Add</button>
      </div>
    </form>
  </div>
</div>